<launch>
  <master auto="start"/>
  <include file="$(find my_navigation)/config/slam_gmapping.xml"/>

  <node  name="robocon_odom" pkg="robocon_odom" type="robocon_odom"/>
  <node  name="robocon_tf"   pkg="robocon_tf"   type="robocon_tf"/>
  <node  name="robocon_joy"   pkg="robocon_joy"   type="robocon_joy"/>

  <node  name="joy"   pkg="joy"   type="joy_node">
    <param name="dev" type="string" value="/dev/input/js1" />
  </node>

  <node  name="rosserial"  pkg="rosserial_python"  type="serial_node.py">
    <param name="port" type="str" value="/dev/ttyUSB3"/>
  </node>

  <node pkg="laser_filters" type="scan_to_scan_filter_chain"
        name="laser_filter">
    <rosparam command="load" file="$(find my_navigation)/config/laser_config.yaml" />
    <!--remap from="scan" to="base_scan" /-->
  </node>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="base_laser"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_navigation)/mapping.rviz" />
</launch>
