<launch>
  <master auto="start"/>
  <include file="$(find my_navigation)/config/slam_gmapping.xml"/>

  <node name="kosen_odom" pkg="kosen_odom" type="kosen_odom" />
  <node name="kosen_tf" pkg="tf" type="static_transform_publisher" args="0 0 0.5 0 0 3.14 base_link base_laser_link 100"/>
  <node name="kosen_driver" pkg="kosen_driver" type="kosen_driver" output="screen"/>

  <node  name="joy"   pkg="joy"   type="joy_node">
    <param name="dev" type="string" value="/dev/input/js0" />
  </node>

  <arg name="arduino1" default="/dev/ttyUSB0"/>
  <node  name="rosserial_R"  pkg="rosserial_python"  type="serial_node.py">
    <param name="port" type="str" value="$(arg arduino1)"/>
  </node>
  <arg name="arduino2" default="/dev/ttyACM0"/>
  <node  name="rosserial_L"  pkg="rosserial_python"  type="serial_node.py">
    <param name="port" type="str" value="$(arg arduino2)"/>
  </node>

  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
    <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate"     type="int"    value="115200"/>
    <param name="frame_id"            type="string" value="base_laser_link"/>
    <param name="inverted"            type="bool"   value="false"/>
    <param name="angle_compensate"    type="bool"   value="true"/>
  </node>

   <node name="rviz" pkg="rviz" type="rviz" args="-d $(find my_navigation)/mapping.rviz" />
</launch>
